# Python on Windows .gitignore
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log
.env
.venv/
env/
venv/
pip-wheel-metadata/
*.sqlite3
Thumbs.db
Desktop.ini
.vscode/
.idea/
.DS_Store
log.txt
